:root{
--about-img-width:300px;
--about-article-width:60%;
} 
.logo{
    height: 75%;
    left: 10px;
    scale: 0.75;
    top: 5px;
    position: absolute;
    }

   .contact{
        color: ghostwhite;
        text-decoration: none;
      display: block;
      width: max-content;
      word-wrap: unset;
      }
     
  .log,.sign{
    position: absolute;
    top: 10px;
  border-color: ghostwhite;
  border-width: 1px;
  border-style: solid;
  width:85px;
  height:35px;
  text-align: center;
  line-height: 35px;
  font-size: 1.2rem;}
  .sign{
    right:30px;
    background-color: ghostwhite;
    color:#813300;

  }
  .averline{
    width: 0;
    border-left-color: ghostwhite;
    border-left-width: 1px;
    border-left-style: solid;
    height: 40px;
    position: absolute;
  right: 123px;
  top:9px 
  }
  .log{
    right:130px;
    color:ghostwhite;
    background-color: transparent;
  
  }

  

  .lhorline{
    height: 0;
    border-bottom-color: ghostwhite;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 55px;
     margin: 0 auto;
  }
  .fmhorline,.smhorline{
  
    height: 0;
    border-bottom-color: ghostwhite;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 80px;
     margin: 0 auto;
  }

  .rside{right: 0;
    top:0;
    position: absolute;
    margin-right: 25px;
  }
  .account{
    top:0;
    right: 0;
    position: absolute;
  }
  
  
  .nav{
    background-color: #813300;
}
.atitle{
  display: block;
    width: 40%;
    margin-top: 10px;
    font-size: 3rem;
    margin-left: 60px;
}
  .main{
    padding-top: 50px;
   
}
.main::after{
    content: '';
     background-image: url('../clothing-header-image.png');
     background-size: cover;
     background-repeat: no-repeat;
     opacity: 0.1;
     height: 120%;
     z-index: -1;
     position: absolute;
     inset: 0;
     overflow: hidden;
    }
    .about{
      display: grid;
      grid-template-columns: 3fr 1fr;
    }
    .photos{
      
       margin: 0 auto;
    }
    .photos > *{
      width: var(--about-img-width);
      margin: 10px;
      border: black 2px solid;
    
}
.tphoto{
    margin-bottom: 0;
}
.article{
    margin-left: 40px;
    margin-top: 10px;
    width: var(--about-article-width);
}
 .arect{
  border-color: ghostwhite;
border-width: 1px;
border-style: solid;
width:fit-content;
height:35px;
line-height: 35px;
font-size: 1.2rem;
overflow: hidden;
  color:ghostwhite;
  background-color: transparent;
display: flex;
align-items: center;
padding: 0 5px;
margin-left: 20px;
}
.profileimg{
height: 25px;
width: 25px;
border-color: ghostwhite;
border-width: 2px;
border-style: solid;
border-radius: 25px;
margin-right: 7px;
}

.logout{
  color: ghostwhite;
  scale: 1.25;
display: inline;
cursor: pointer;
}
.user{
  top: 9px;
width:max-content;
padding: 0 1px;
height: 40px;
right:30px;
display: flex;
position: absolute;
align-items: center;
}
.account i{
  color: ghostwhite;
  right: 0;
  top: 12.5px;

  scale: 1.5;
}
@media (max-width:1210px) {
  :root{
    --about-img-width:250px;
    --about-article-width:70%;
    
  }
}
@media (max-width:800px) {
  :root{
    --about-img-width:220px;
    --about-article-width:80%;
    
  }
}
@media (max-width:600px) {
  :root{
    --about-img-width:180px;
    --about-article-width:80%;
    
  }
  .arect {
    border: none;
    display: flex;
    align-items: center;
    margin: 5px 20px;
    overflow: visible;
    height: 50px;
  }

  .profileimg {
    width: 35px;
    height: 35px;
  }
     
.atitle{
font-size: 2rem;
}
  
}
@media (max-width:530px) {
:root{
  --about-img-width:90%
}
  .about{
  display: block;
}
.photos{
  display: grid;
  grid-template-columns: 1fr 1fr;
justify-items: center;
  align-items: center;
  width: 100%;
}
.tphoto{
  grid-column: span 2;
  width: 50% !important;
}
}