
.logo{
    height: 75%;
    left: 10px;
    scale: 0.75;
    top: 5px;
    position: absolute;
  
      }.contact{
        text-decoration: none;
      display: block;
      text-align: left;
      align-items: start;
      width: max-content;
      word-wrap: unset;
      }
   
  .log,.sign{
    position: absolute;
    top: 10px;
  border-color: ghostwhite;
  border-width: 1px;
  border-style: solid;
  width:85px;
  height:35px;
  text-align: center;
  line-height: 35px;
  font-size: 1.2rem;}
 
  .sign{
    right:30px;
    background-color: ghostwhite;
    color:#813300;

  }
  .averline{
    width: 0;
    border-left-color: ghostwhite;
    border-left-width: 1px;
    border-left-style: solid;
    height: 40px;
    position: absolute;
  right: 123px;
  top:9px 
  }
  .log{
    right:130px;
    color:ghostwhite;
    background-color: transparent;
  
  }

  .lhorline{
    height: 0;
    border-bottom-color: ghostwhite;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 55px;
     margin: 0 auto;
  }
  .fmhorline,.smhorline{
  
    height: 0;
    border-bottom-color: ghostwhite;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 80px;
     margin: 0 auto;
  }

  .rside{right: 0;
    top:0;
    position: absolute;
    margin-right: 25px;
  }
  .account{
    top:0;
    right: 0;
    position: absolute;
  }
  
  
  .nav{
    background-color: #813300;
}
.purchasestext{
    font-size: 2.3rem;
    margin: 30px auto 15px auto;
    width: 90%    ;
max-width: 600px;

  }
  .footer{
    position: absolute;
    bottom: 0;
  }.main{
    padding-top: 50px;
}
.arect{
  border-color: ghostwhite;
border-width: 1px;
border-style: solid;
width:fit-content;
height:35px;
line-height: 35px;
font-size: 1.2rem;
overflow: hidden;
  color:ghostwhite;
  background-color: transparent;
display: flex;
align-items: center;
padding: 0 5px;
margin-left: 20px;
}
.profileimg{
height: 25px;
width: 25px;
border-color: ghostwhite;
border-width: 2px;
border-style: solid;
border-radius: 25px;
margin-right: 7px;
}

.logout{
  color: ghostwhite;
  scale: 1.25;
display: inline;
cursor: pointer;
}
.user{
  top: 9px;
width:max-content;
padding: 0 1px;
height: 40px;
right:30px;
display: flex;
position: absolute;
align-items: center;
}
.table *{
 
  
  padding:5px;
}
.table{
  background-color: ghostwhite;
  border-collapse: collapse;
width: 90%;
max-width: 600px;
margin: 0 auto;
border-color: black;
border-width: 2px;
border-style: solid
}
.thead *{
  font-size: x-large;
  font-weight: bolder;
  background-color: #813300;
  color: ghostwhite;
  border-bottom-color: black;
  border-bottom-width: 1.9px;
  border-bottom-style: solid

}
.close{
width: min-content;
padding: 0;
margin: 0;
font-size:x-large;
  color:#bb0000;
cursor: pointer;
}
.table tbody tr:nth-of-type(2n){
  background-color: #ffe4d6;
  
}
.table tbody tr:nth-of-type(2n+1){
  background-color: ghostwhite;
  
}
.bnote{
  width: fit-content;
  margin: 25px auto -40px auto;
  color: #9a0202;
text-align: center;
}
.account i{
  color: ghostwhite;
  right: 0;
  top: 12.5px;

  scale: 1.5;
}
@media (max-width:600px) {

  .arect {
    border: none;
    display: flex;
    align-items: center;
    margin: 5px 20px;
    overflow: visible;
    height: 50px;
  }

  .profileimg {
    width: 35px;
    height: 35px;
  }
  .purchasestext{
    font-size: 1.8rem;
  }

  .thead *{
    font-size: large;}
    .table{
      font-size: small;
    }
}
@media (max-width:320px){
  .purchasestext{
    font-size: 1.6rem;
  }
  .thead *{
    font-size:medium;}
    .table{
      font-size:0.7rem;
    }
.bnote{
font-size: small;

}
.close{
  font-size: medium;
}
}