.lang {
    color: ghostwhite;
    right: 235px;
    top: 19px;
    position: absolute;
    scale: 1.25;
  }
   
  .langs{
    font-size: 1rem;
    line-height: 25px;
  color: ghostwhite;
  width: 70px;
  height: 53px;
  text-align: center;
  border-color: ghostwhite;
  border-width: 1px;
  border-style: solid;  
  position: absolute;
  right: 234px;;
  top: 50px;
  }
  
  .categoriesm{
    font-size: 1rem;
    line-height: 25px;
  color: ghostwhite;
  width:100px;
  height: 80px;
  text-align: center;
  border-color: ghostwhite;
  border-width: 1px;
  border-style: solid;  
  position: absolute;
  top: 50px;
  z-index: 300;
  
  }
  .categoriesm *{
    color: ghostwhite;
      }
      .lhorline{
        height: 0;
        border-bottom-color: ghostwhite;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        width: 55px;
         margin: 0 auto;
      }
      .fmhorline,.smhorline{
      
        height: 0;
        border-bottom-color: ghostwhite;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        width: 80px;
         margin: 0 auto;
      }
    @media (max-width:450px) {
      .categoriesm{
        scale:1 ;
        translate: -50px -30px !important;
          }
        }
        
    