:root{
--grid-template:1fr 1fr 1fr 1fr;
--min-width:100px;
--margin:60px 40px;
}
.card{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: var(--grid-template);
justify-items: center;
}
.product{ 
    width: 65%;
    margin: var(--margin);
    min-width: var(--min-width);
    height: 200px;
font-size: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.img{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    position: relative;
    top:0
    ;display: block;
    ;margin: 0;
}
.price{
    align-self: end;
    font-size: 1.5rem;
}.price span{
    font-size: 1.7rem;
}

@media ((min-width:850px) and (max-width:1000px)) or ((min-width:620px) and (max-width:720px)) or ((min-width:320px) and (max-width:450px)){
    :root{
--margin: 40px
    }
}

@media (max-width:850px) {
    :root{
        --grid-template:1fr 1fr 1fr
    }
}@media (max-width:620px) {
    :root{
        --grid-template:1fr 1fr
    }
}@media (max-width:450px) {
    :root{
        --min-width:20px;
        --margin:10px 20px
        }
    .price{
        font-size: 1.3rem !important;
    }.price span{
        font-size: 1.5rem !important;
    }
    .product{
        font-size: 1rem;
    }
}
@media (max-width:320px) {
  
    .price{
        font-size: 1rem;
    }.price span{
        font-size: 1.2rem;
    }
    .product{
        font-size: 1.1rem;
    }
}
@media (max-width:265px) {
    :root{
        --grid-template:1fr
    }
    .price{
        font-size: 0.8rem;
    }.price span{
        font-size: 0.7rem;
    }
    .product{
        font-size: 0.8rem;
    }
}

